<h1 class="title">Ingrese Datos</h1>
<br>

<form class="form" action="/productos" method="post">

<div>
    <label for="Nombre"><b>nombre</b></label>
    <input id="Nombre" type="text" name="Nombre">
</div>
<div>
    <label for="tipo"><b>tipo</b></label>
    <input id="tipo" type="text" name="tipo">
</div>
<div>
    <label for="cantidad"><b>cantidad</b></label>
    <input id="cantidad" type="number" name="cantidad">
</div>

<button class="button">Enviar</button>

</form>